@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);

/* Header */

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: url("../img/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans';
}

/* Content */

.font-size-note {
    font-size: 10px;
}

.panel {
    background-color: #7B6B67;
    padding: 15px;
}

#content {
    margin-top: 50px;
    padding-bottom: 75px;
}

/* Footer */

#footer .navbar{
    background-color: rgba(255,239,204,0.35);
    font-size: 16px;
    position: absolute;
}

.text-white-footer {
    color: #fff;
}

.icon-margin {
    color: #fff;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.icon-margin:hover {
    color: #DEB887;
}

/** Images **/

img {
    width: 100%;
    height: 100%;
}

.brand {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

/** Headings **/

.text {
    margin-top: 30px;
    font-size: 12px;
}

/** Page Navbar **/

.navbar {
    background: #2B1B17;
    border: 0;
    border-radius: 0;
    padding: 0;
    font-family: 'Roboto Slab';
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:focus {
    background-color: #17272B;
}

/* Table and Sort Style */

th {
    text-align: center;
}

.text-white-header {
    color: #FFF;
}

.text-white-body,
.text-white-link,
a.sort-table {
    color: #EBEBEB;   
}

a.text-white-link:hover,
a.sort-table:hover {
    color: #F9F8F6;
    text-decoration: none;
}

span.sortorder:after {
    font-family: FontAwesome;
    content: '\f15d';
    float: right;
}
span.sortorder.reverse:after {
    font-family: FontAwesome;
    content: '\f15e';
    float: right;
}